@{
    Layout = "_AdminLayout";
    ViewData["title"] = "Users";
}

<h2 class="dashboard-heading">User List</h2>      
<div class="dashboard-container-btn">
    <a class="dasboard-btn-create" href="/admin/adduser">
       <i class="bi bi-plus"></i> <span>Create User</span>
    </a>
</div>
<section class="" id='userList'>
                   
</section>
<div class="overlay"></div>
<div id="confirmationPopup" class="confirmation-popup">
  <p>Are you sure you want to delete this user?</p>
  <div class="confirmation-popup-action">
    <button id="confirmDelete" class="btn btn-danger">Confirm</button>
    <button id="cancelDelete" class="btn">Cancel</button>
  </div>
</div>

<div id="popupEditUser" class="popup-edit-user">
  <p>Edit user</p>
  <div class="confirmation-popup-action">
    <div class='container'>
      <div class="form-group">
          <label>FName*</label>
          <input type="text" class="form-control update-first-name" />
          <span class="text-danger" ></span>
      </div>
      <div class="form-group">
          <label>LName*</label>
          <input type="text" class="form-control update-last-name" />
          <span class="text-danger"></span>
      </div>
      <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control update-email" />
          <span class="text-danger" ></span>
      </div>
      <div class="form-group">
          <label>Username</label>
          <input type="text" class="form-control update-username" />
          <span class="text-danger" ></span>
      </div>
      <button id="confirmUpdate" class="btn btn-danger">Confirm</button>
      <button id="cancelUpdate" class="btn">Cancel</button>
  </div>
</div>
