@{
    Layout = "_AdminLayout";
    ViewData["title"] = "Users";
}

<h2 class="dashboard-heading">User List</h2>      
<div class="btn">
    <a class="dasboard-btn-create" href="/admin/adduser">
       <i class="bi bi-plus"></i> <span>Create User</span>
    </a>
</div>
<section class="" id='userList'>
                   
</section>