*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.dashboard-container {
  display: flex;
  justify-content: space-between;
}

.dashboard-content {
  width: 80%;
}

.dashboard-header {
  background-color: #fff;
  position: fixed;
  width: 80%;
}

.dashboard-header-nav {
  height: 70px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #464e62;
}
.dashboard-header a {
  color: #464e62;
}

/* main */
.dashboard-content {
  margin-left: 20%;
}

.dashboard-main {
  min-height: 100vh;
  background-color: #fff;
  margin-top: 80px;
  padding: 40px 30px;
}

.dashboard-heading {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #313644;
}

.dashboard-sidebar {
  position: fixed;
  display: block;
  width: 20%;
  min-height: 100vh;
  background-color: #313644;
}

.dashboard-logo {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #464e62;
}

.dashboard-logo a {
  font-size: 32px;
  font-weight: 600;
  color: white;
}

.side-list {
  margin-top: 80px;
}

.side-item {
  padding: 0 15px;
}
.side-item a {
  display: block;
  padding: 20px 30px;
  color: #99abb4;
  font-weight: 600;
  cursor: pointer;
  background: #fff;
  border-radius: 10px;
}

.side-item a:hover {
  color: #313644;
  transition: 0.5s linear;
}

.dashboard-container-btn {
  display: flex;
  justify-content: flex-end;
}
.dasboard-btn-create {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  background-color: #464e62;
  border-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 20px;
}

/*  */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: rgba(185, 188, 191, 0.2) 0px 0px 24px 5px;
  border-radius: 5px;
  font-family: arial;
  overflow: auto;
}
table thead th {
  padding: 10px 16px;
  text-align: left;
  background-color: #f3f3f5;
}
table tbody tr td {
  padding: 10px 16px;
  border-bottom: 1px solid #eee;
}
table tbody tr .action {
  display: flex;
}
table tbody tr .action button {
  margin-right: 10px;
  cursor: pointer;
  background-color: #f3f3f5;
  border: none;
  padding: 5px 10px;
  color: #000;
  border-radius: 2px;
}
table tbody tr .action button:last-child {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  table {
    background-color: transparent;
    box-shadow: none;
  }
  table thead {
    display: none;
  }
  table tbody tr {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    background-color: #fff;
    padding: 50px 10px 10px 10px;
    position: relative;
    background-color: #fff;
    box-shadow: rgba(185, 188, 191, 0.2) 0px 0px 24px 5px;
  }
  table tbody tr td {
    display: flex;
    background-color: transparent;
    padding: 0;
    margin-bottom: 5px;
    margin-right: 16px;
    border: none;
    flex-wrap: wrap;
  }
  table tbody tr td .res-head {
    display: block;
    font-weight: 700;
    margin-right: 5px;
  }
  table tbody tr td:first-child {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  table tbody tr .action {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

/* Popup delete */
.popup-edit-user,
.confirmation-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.popup-edit-user.show,
.confirmation-popup.show {
  display: block;
}

.btn {
  padding: 10px 20px;
  background-color: #464e62;
  color: #fff;
  border-radius: 10px;
}
.confirmation-popup p {
  margin: 20px 0 40px;
}

.confirmation-popup-action {
  display: flex;
  justify-content: flex-end;
  gap: 0 10px;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.overlay.show {
  display: block;
}

/* end popup */

.input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 8px;
}
/* search */
.search {
  padding: 10px 20px;
  border: 1px solid;
  border-radius: 10px;
}
